@primary: #FFC021;
@secondary: darken(@primary, 15%);
@background-light: #FFFFFF;
@background-dark: @darker;
@darkest: #191919;
@darker: #333333;
@dark: #6B6A6A;
@grey: #E9E7E6;
@text-color-light: @darkest;
@text-color-dark: @grey;