<template lang="pug">
  div(class="home")
    div(class="row")
      div(class="column column-25")
        SearchMenu
      div(class="column column-50")
        SnackMenu(msg="menu")
      div(class="column column-25")
        Cart(msg="cart")
</template>

<script>
// @ is an alias to /src
import SnackMenu from '@/components/SnackMenu.vue'
import SearchMenu from '@/components/SearchMenu.vue'
import Cart from '@/components/Cart.vue'

export default {
  name: 'home',
  components: {
    SnackMenu,
    SearchMenu,
    Cart
  }
}
</script>

<style lang="less">
  .home {
    height: 82%;
    padding: 30px;
  }

  .column {
    padding-left: 10px;
    padding-right: 10px;
  }
</style>
