<template>
<!--
        Necessary Components
          Main menu
            A way to order food, drink, other
            A way to search
          Cart
            remove from cart
            Checkout
      -->
  <div class="cart">
    <p>{{ msg }}</p>
  </div>
</template>

<script>
export default {
  name: 'Cart',
  props: {
    msg: String
  },

  data () {
    return {
      'cart-items': []
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
  h3 {
    margin: 40px 0 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
</style>
