<template lang="pug">
  div(class="searchmenu")
    div(class="searchbar")
      input(type="text", id="search")
      a(class="button" href="#") search
    div(class="row")
      ul(id="category-list")
        li(class="category-list-item", v-for="category in categories")
          fa-icon(class="icon", :name="category.icon", :label="category.name")
          span {{ category.name }}
          fa-icon(class="icon angle-down", name="angle-down", label="toggle category")
    div(class="search-output")
</template>

<script>
export default {
  name: 'SnackMenu',
  props: {
    msg: String
  },
  data () {
    return {
      categories: [
        {name: 'food', icon: 'utensils'},
        {name: 'drinks', icon: 'beer'},
        {name: 'other', icon: 'certificate'}
      ]
    }
  }
}
</script>

<style scoped lang="less">
  @import "../styles/colors.less";
  #category-list {
    list-style: none;
    text-align: left;
  }

  #search {
    width: 73%;
    border-color: @primary;
  }

  .button {
    background-color: @primary;
    border-color: @primary;
  }

  .search {
    vertical-align: middle;
    display: inline !important;
  }

  .icon {
    color: rgba(255, 208, 0, 0.63);
    margin-right: 10px;
  }

  .category-list-item {
    width: 100%;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .angle-down {
    padding-left: 60px;
  }
</style>
