<template lang="pug">
  //-
    Necessary Components
      Main menu
        A way to order food, drink, other
        A way to search
  div(class="snackmenu")
    p {{ msg }}
</template>

<script>
export default {
  name: 'SnackMenu',
  props: {
    msg: String
  }
}
</script>

<style scoped lang="less">
  #food, #drink, #other {
    background-size: cover;
    background-position: center;
  }
  .column {
    border: 2px solid black;
    margin: 20px;
    text-align: center;
    vertical-align: middle;
    min-height: 200px;
    height: 20%;
  }

  .column > .header {
    color: white;
    height: 100%;
  }
</style>
