<template lang="pug">
  div(id="app")
    div(id="nav", class="row")
      //div(class="column column-67")
      router-link(to="/")
        img(id="main-icon", src="@/assets/logo-white.png", )
        h1(id="main-title") {{ title }}
      //div(class="column column-33")
        router-link(to="/help")
          h3 Help
    router-view
    div(class="footer")
      h3 Questions, comments, or concerns? Email zdb@purdue.edu.
</template>

<script>
export default {
  data () {
    return {
      title: 'Countable Snacks'
    }
  }
}
</script>

<style lang="less">
  @import (css) url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
  @import "./styles/colors.less";

  html, body, #app {
    height: 100%;
  }

  #main-icon {
    width: auto;
    height: 3em;
    padding-right: 30px;
  }

  h1, img {
    display: inline;
    vertical-align: middle;
  }

  h1 {
    text-shadow: 3px 2px rgba(0,0,0,0.2);
  }

  #main-title {
    height: 3em;
  }

  body {
    background-color: @background-light;
    margin: 0;
  }

  .icon {
    width: auto;
    height: 1em;
    max-width: 100%;
    max-height: 100%;
    color: @primary;
  }

  #app {
    font-family: 'Share Tech Mono', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin: 0;
    color: @text-color-light;
  }

  #nav {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 90px;
    padding-right: 90px;
    background-color: @primary;
    a {
      color: @darker;
      text-decoration: none;
      &.router-link-exact-active {
        color: white;
        font-weight: bold;
      }
    }
  }
</style>
